In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import requests
from selenium import webdriver
from matplotlib import font_manager, rc
from selenium.webdriver.common.by import By
from time import sleep
from bs4 import BeautifulSoup as BS
from tqdm import tqdm

In [2]:
def add_text():
    global get_text    
    text_list = get_text[1:]
    for i, t in enumerate(text_list):
        
        if len(text_list) == 1:
            at = t
            break
        
        if i == 0:
            at = t + ' '
        
        elif i != 0:
            at = at + t + ' '
        
        elif text_list[i] == text_list[-1]:
            at = at + t
            
    return at

In [3]:
path = 'C:/workplace/빅분사_테크로스제외/진심유통/5차컨설팅/chromedriver.exe'
driver = webdriver.Chrome(path)
driver.get('http://www.tradenavi.or.kr/CmsWeb/viewPage.req?idx=PG0000001769')
sleep(3)

# 총 국가 종류 243
for c_index in tqdm(range(243)):
    data_list = []
    
    # 업종 목록
    driver.find_element(By.XPATH, '/html/body/div[2]/div[2]/div[1]/div[2]/form/div[2]/ul/li[1]/dl/dd/div/span').click()
    sleep(1)

    # 가공식품 선택
    driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[1]/div[2]/form/div[2]/ul/li[1]/dl/dd/div/ul/li[17]').click()
    sleep(1)
    
    # 국가 선택 목록
    driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[1]/div[2]/form/div[1]/ul/li[1]/dl/dd/div/a/img').click()
    sleep(2)
    
    # 국가 선택 / 총 243 국가
    driver.find_element(By.XPATH,f'/html/body/div[2]/div[2]/div[1]/div[2]/form/div[1]/ul/li[1]/dl/dd/div/div/div/div[2]/div/ul/li[{c_index+1}]/dl/dd[2]/a').click()
    sleep(1)   
    # 검색
    driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[1]/div[2]/form/div[2]/input').click()
    sleep(60)
        
    # 총 페이지 수
    last_page = int(driver.find_element(By.XPATH,f'/html/body/div[2]/div[2]/div/div[2]/div[2]/div[2]/div/div/a[4]').text)

    while True:
        page_count = 0
        # 페이지 선택
        for page in range(10):
            driver.find_element(By.XPATH,f'/html/body/div[2]/div[2]/div/div[2]/div[2]/div[2]/div/div/span/a[{page+1}]').click()
            page_count += 1
            sleep(60)
            # 바이어 목록
            try:
                for buyer in range(5):
                    driver.find_element(By.XPATH,f'/html/body/div[2]/div[2]/div/div[2]/div[2]/div[2]/table/tbody/tr[{buyer+1}]/td[2]').click()
                    data = pd.DataFrame(columns=['국가', '회사명', '주요상품', '대표전화', '홈페이지'])
                    sleep(1)
                    # 상세내역
                    text = driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div/div[2]/div[2]/div[3]/table/tbody').text.split('\n')
                    for i, get_text in enumerate(text):
                        # print(get_text.split(' '))
                        
                        get_text = get_text.split(' ')
                        data[get_text[0]] = [add_text()]
                        
                    data_list.append(data)
                    
                
            except:
                print('더 이상 조회할 바이어가 없습니다.')
                break
            
            
            # 페이지 넘기기
            if page+1 == 10:
                driver.find_element(By.XPATH,f'/html/body/div[2]/div[2]/div/div[2]/div[2]/div[2]/div/div/a[3]').click()
                break
            
        # 마지막 페이지
        if page_count+1 == last_page:
            break

        

    save_data = pd.concat(data_list)
    save_data.to_csv(f'{c_index}번째 나라.csv')

C:\Users\signlab026\AppData\Local\Temp\ipykernel_6312\3549667069.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(path)
  0%|          | 0/243 [00:00<?, ?it/s]

In [8]:
pd.concat(data_list)

,국가,회사명,주요상품,대표전화,홈페이지
0,인도네시아,PT TRI SIMA INDO,"Wholesales groceries, general line (General Tr...",+62812 - 83377123,-

In [27]:
for buyer in range(5):
    driver.find_element(By.XPATH,f'/html/body/div[2]/div[2]/div/div[2]/div[2]/div[2]/table/tbody/tr[{buyer+1}]/td[2]').click()
    data = pd.DataFrame(columns=['국가', '회사명', '주요상품', '대표전화', '홈페이지'])
    sleep(1)
    text = driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div/div[2]/div[2]/div[3]/table/tbody').text.split('\n')
    for i, get_text in enumerate(text):
        # print(get_text.split(' '))
        
        get_text = get_text.split(' ')
        data[get_text[0]] = [add_text()]

    data_list.append(data)

In [28]:
pd.concat(data_list)

,국가,회사명,주요상품,대표전화,홈페이지
0,인도네시아,PT TRI SIMA INDO,"Wholesales groceries, general line (General Tr...",+62812 - 83377123,-
0,인도네시아,PT TRI SIMA INDO,"Wholesales groceries, general line (General Tr...",+62812 - 83377123,-
0,인도네시아,PT TRI SIMA INDO,"Wholesales groceries, general line (General Tr...",+62812 - 83377123,-
0,인도네시아,PT TRI SIMA INDO,"Wholesales groceries, general line (General Tr...",+62812 - 83377123,-
0,인도네시아,PT TRI SIMA INDO,"Wholesales groceries, general line (General Tr...",+62812 - 83377123,-
...,...,...,...,...,...
0,인도네시아,PT TRI SIMA INDO,"Wholesales groceries, general line (General Tr...",+62812 - 83377123,-
0,인도네시아,CV MANDIRI KOPI,Manufactures roasted coffee,(62)(812) (69199566),www.mancafe.id
0,태국,DKSH PERFORMANCE MATERIALS THAILAND LIMITED,Wholesales groceries and related products,(+66) 2 7904000,www.dksh.com
0,말레이시아,PRICE CHOPPER SDN BHD,"TRADING OF VEGETABLES, FOOD STUFF, HOUSEHOLD A...",03-51618298,-
0,베트남,SAI GON INTERNATIONAL MATERIAL JOINT STOCK COM...,"Trading confectionery, milk",+84 979790404,-